@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Html elements  */
@layer base {
  p,
  ul,
  li,
  form,
  input,
  textarea,
  select,
  button {
    @apply font-primary;
  }
  h1 {
    @apply font-secondary;
    font-size: 60px;
  }
  h2 {
    @apply font-secondary;
    font-size: 48px;
  }
  h3 {
    @apply font-secondary;
    font-size: 36px;
  }
  h4 {
    @apply font-secondary;
    font-size: 30px;
  }

  h5 {
    @apply font-secondary;
    font-size: 24px;
  }

  h6 {
    @apply font-secondary;
    font-size: 20px;
  }
}

/* Dark and light mode colors */
@layer base {
  html.dark {
    @apply bg-body-dark text-text-white;
  }
  html.light {
    @apply bg-body-light text-text-black;
  }
}
/* might change to grid ---rethink it*/
body {
  @apply grid place-items-center;
}
